.card-img,
.card-img-top {
  width: 100%;
}

.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
}

.card-body {
  width: 100vw;
  font-size: medium;
}

.card-title {
  color: #4b7f55;
}

.button {
  color: #4b7f55;
  width: 100%;
}
